<div class="main__header">
  <h1 class="main__title">- Shered Notes -</h1>
  <!-- <p class="site-discription">サイトの使い方</p> -->
</div>
<div class="main__body">
  <div class="main__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
  <div class="main__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
  <div class="main__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
  <div class="main__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
</div>
