<div class="top-page__header">
  <h1 class="top-page__title">-sheres-</h1>
</div>
<div class="top-page__body">
  <div class="top-page__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
  <div class="top-page__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
  <div class="top-page__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
  <div class="top-page__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
</div>
