<div class="main__header">
  <h1 class="main__title">- Notes -</h1>
  <uL class="page-list">
    <li class="page__nav"><%= link_to "ノートを作成する", new_note_path %></li>
    <li class="page__nav"><%= link_to "辞書一覧へ", dictionalies_path %></li>
  </uL>
</div>
<div class="main__body">
  <div class="main__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
  <div class="main__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
  <div class="main__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
  <div class="main__column">
    <div class="note">
      <div class="note__page-left">

      </div>
      <div class="note__page-right">

      </div>
    </div>
  </div>
</div>
