<h1>Dictionalys#show</h1>
<p>Find me in app/views/dictionalys/show.html.erb</p>
<% if @note.image? %>
　<%= image_tag @note.image.thumb.url %>
<% else %>
　<%= image_tag 'noimage.gif' %>
<% end %>
<%= link_to "ノートを作成する", new_note_path %>
<%= link_to "ノート一覧へもどる", notes_path %>
