ul{
  list-style: none;
}

html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  background-image:url("bg.png");
  position: absolute;
  top: 0;
  left: 0;
}
.header{
  margin-left: 250px;
}
.nav{
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
}
.nav__list{

}
.nav__item{

}
.main-contens{
  margin-left: 250px;
  width: auto;
}
