/* line 1, /Users/junoyama/demoday/app/assets/stylesheets/top.scss */
.main-contents {
  margin-left: 220px;
  width: auto;
}

/* line 5, /Users/junoyama/demoday/app/assets/stylesheets/top.scss */
.top-page__header {
  text-align: center;
}
