// Place all the styles related to the dictionalys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dictionaliy__wrap{
  text-align: center;
}
