.note__wrapper{
  clear: both;
}
.left-page{
  width: 50%;
  float: left;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.right-page{
  width: 50%;
  float: right;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.note__header{
  background:url("nav_bg.png");
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  /* box-shadow */
  box-shadow:3px 0 7px 2px rgba(140, 160, 180, 0.3);
  -moz-box-shadow:3px 0 7px 2px rgba(140, 160, 180, 0.3);
  -webkit-box-shadow:3px 0 7px 2px rgba(140, 160, 180, 0.3);
  clear: both;
  display: table;
}
.note__header__title{
  width: 200px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.note__header__title>a{
  font-size: 30px;
  color: #535220;
}
.note__nav{
  display: table-cell;
  vertical-align: middle;
  float: right;
}
.note__nav__list{
  display: table;
  height: 80px;
}
.note__nav__item{
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
.note__body{
  min-height: 1000px;
  background: #fff;
}
// 画像ファイル選択用
.file input{
  display: none;
}
.file-text{
  cursor:pointer;
}
//フォーム用
.edit{
  padding: 10px 5px 10px;
}
.edit label{
  display: block;
  margin: 0 auto 10px;
  text-align: center;
}
.edit__field{
  width: 100%;
  box-sizing: border-box;
}
.edit__title{
  height: 30px;
  display: block;
  width: 80%;
  margin: auto;
}
.edit__text{
  min-height: 200px;
}
